<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, intial-scale=1.0" user-scalable="no">
  <title>Prividata Secure Health</title>
  <link rel="stylesheet" href="/static/css/global.css">
</head>

{% include 'navbar.html' %}
<body>
  {% if request.cookies.get('ID') or logged_in %}
      <h1>Welcome, {{ user[1] if logged_in else request.cookies.get('Username')}}!</h1>
      <!-- Your content for logged-in users here -->
  {% else %}
    <h1>Welcome to Puff Puff Pass</h1>
      <!-- Your content for guests here -->
  {% endif %}
</body>
<body>
  <br>
  <h2><i>Too much Puff, not enough Pass?</i> We've got your back.</h2>
  <p>Puff Puff Pass is a <b>password manager</b> designed to let you forget your passwords.</p>
  <p>Our platform utilizes state-of-the-art encryption algorithms to ensure the confidentiality and integrity of your passwords. With strict access controls and comprehensive security measures, we prioritize the protection of sensitive data.</p>
  <p>We utilize <b>Fernet symmetric encryption</b>. The only person who can decipher your data is <u>you</u>! Not even our admins can view your passwords.</p>
  <p>Feel free to Puff and Puff, knowing your Passwords are safe with us.</p>

</body>


</html>

