<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, intial-scale=1.0" user-scalable="no">
  <title>Prividata Secure Health</title>
  <link rel="stylesheet" href="/static/css/global.css">
</head>

{% include 'navbar.html' %}
<body>
  {% if request.cookies.get('ID') or logged_in %}
      <h1>Welcome, {{ user[1] if logged_in else request.cookies.get('Username')}}!</h1>
      <!-- Your content for logged-in users here -->
  {% else %}
    <h1>Welcome to Puff Puff Pass</h1>
      <!-- Your content for guests here -->
  {% endif %}
</body>
<body>
  <p>Puff Puff Pass is a password manager designed to let you forget your passwords.</p>
  <p>Our platform utilizes state-of-the-art encryption algorithms to ensure the confidentiality and integrity of your passwords. With strict access controls and comprehensive security measures, we prioritize the protection of sensitive data.</p>


  </body>


</html>

