<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, intial-scale=1.0" user-scalable="no">
  <title>Puff Puff Pass</title>
  <link rel="stylesheet" href="/static/css/global.css">
</head>

{% include 'navbar.html' %}
<body>
  {% if request.cookies.get('ID') or logged_in %}
      <h1>Welcome, {{ request.cookies.get('Username')}}!</h1>
      <!-- Your content for logged-in users here -->
  {% else %}
    <h1>Welcome to Puff Puff Pass</h1>
      <!-- Your content for guests here -->
  {% endif %}
</body>
<hr>
<body class="home-body">
  <h2><i>Too much Puff, not enough Pass?</i> We've got your back.</h2>
  <div class="image-container">
    <img class="white-shadow" src="{{ url_for('get_img', filename='elon-smoking.gif')}}">
  </div>
  <br>
  <hr>
  <ul>
    <li><p>In light of <a style="color:white;" href="https://ohiocapitaljournal.com/2023/11/07/ohioans-vote-to-legalize-recreational-marijuana-by-passing-issue-2-law/" target="_blank">Ohio legalizing puffing</a>, we know those who like to puff may experience <a style="color:white;"href="https://nida.nih.gov/publications/research-reports/marijuana/what-are-marijuanas-long-term-effects-brain" target="_blank" >memory impairment</a>. Here at Puff Puff Pass, we have the solution!</p></li>
    <li><p><b>Puff Puff Pass</b> is a <b>password manager</b> designed to let you forget your passwords.</p></li>
    <li><p>Our platform utilizes <b>state-of-the-art encryption algorithms</b> to ensure the <b>confidentiality and integrity</b> of your passwords. With strict access controls and comprehensive security measures, we <b>prioritize the protection of your passwords</b>.</p></li>
    <li><p>We utilize <b>Fernet symmetric encryption</b>. The only person who can decipher your data is <i>you!</i></p></li>
  </ul>

  <hr>
  <h2>Feel free to <i>Puff</i> and <i>Puff</i>, knowing your <i>Pass</i> is safe with us.</h2>
  <div class="image-container">
    <img class="white-shadow"src="{{ url_for('get_img', filename='peace-out.gif')}}">
  </div>
</body>


</html>

