<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, intial-scale=1.0" user-scalable="no">
  <title>Puff Puff Pass</title>
  <link rel="stylesheet" href="/static/css/global.css">
</head>
{% include 'navbar.html' %}
  
<body>
    <h1>New Password</h1>
    <form id="frmLogin" method="POST", action="/store_password">

        <label for="siteName">Site Name:</label>
        <input type="text" id="siteName" name="siteName" required><br>

        <label for="url">url:</label>
        <input type="text" id="url" name="url" required><br>

        <label for="newPassword">Password:</label>
        <input type="password" id="newPassword" name="newPassword" required><br>


        <!-- Error will be if password already exists within database -->
        {% if error %}
        <p style="color: red;">{{ error }}</p>
        {% endif %}
        <input type="submit" value="Submit">
    </form>
  
    <p id="messageSucc" class="message"></p>
  </body>


<body>
      
      
    <div class="info-container">
        {% if user %}
            {% for row in user %}
                <div class="user-box">
                    <h2>User ID: {{ row[0] }}</h2>
                    <div class="info-row">
                        <div>
                            <h3>Site Name</h3>
                            <p>{{ row[1] }}</p>
                        </div>
                        <div>
                            <h3>url</h3>
                            <p>{{ row[2] }}</p>
                        </div>
                        <div>
                            <h3>Password</h3>
                            <p>{{ row[4] }}</p>
                        </div>
                        <!-- Include other fields here -->
                    </div>
                </div>
            {% endfor %}

        {% elif users %}
            {% for row in users %}
                <div class="user-box">
                    <h2>User ID: {{ row[0] }}</h2>
                    <div class="info-row">
                        <div>
                            <h3>Site Name</h3>
                            <p>{{ row[1] }}</p>
                        </div>
                        <div>
                            <h3>url</h3>
                            <p>{{ row[2] }}</p>
                        </div>
                        <div>
                            <h3>Password</h3>
                            <p>{{ row[3] }}</p>
                        </div>
                        <!-- Include other fields for all users -->
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</body>

</html>