<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, intial-scale=1.0" user-scalable="no">
  <title>Puff Puff Pass</title>
  <link rel="stylesheet" href="/static/css/global.css">
</head>
{% include 'navbar.html' %}
<body>
    <h1>User ID: {{ request.cookies.get('ID') }}</h1>
    <hr>
    <h2>Add or change password</h2>
    <form id="frmPass" method="POST", action="/store_password">

        <label for="siteName">Site Name:</label>
        <input type="text" id="siteName" name="siteName" required><br>

        <label for="url">url:</label>
        <input type="text" id="url" name="url" required><br>

        <label for="newPassword">Password:</label>
        <input type="password" id="newPassword" name="newPassword">
        <br>


        <!-- Error will be if password already exists within database -->
        {% if error %}
        <p style="color: red;">{{ error }}</p>
        {% endif %}
        <input type="submit" value="Submit">
        <form id="frmNewPass" method="POST", action="/create_password">
            <input type="submit" value="Generate new password for me">
        </form>

    </form>


  <br>
  <hr>
  <br>

        {% if user %}
        <div class="grid-container">

            {% for row in user %}
                        <div class="info-row">
                            <p class="info"><b>Site Name: </b>{{ row[1] }}</p>
                            <hr>
                            <b>url: </b><a class="info" href="{{ row[2] }}">{{ row[2] }}</a>
                            <hr>
                            <b>Encryption: </b><p class="info">{{ row[3] }}</p>
                            <hr>
                            <b>Password (hover to view): </b>
                            <p class="hover-view">{{ row[4] }}</p>
                        </div>
            {% endfor %}
        </div>

        {% elif users %}
        <div class="grid-container adcontainer">

            {% for row in users %}
                        <div class="info-row adrow">
                            <p class="info"><b>User ID: </b>{{ row[0] }}</p>
                            <hr>
                            <p class="info"><b>Site Name: </b>{{ row[1] }}</p>
                            <hr>
                            <b>url: </b><a class="info" href="{{ row[2] }}">{{ row[2] }}</a>
                            <hr>
                            <b>Encryption: </b><p class="info">{{ row[3] }}</p>
                        </div>
            {% endfor %}
        </div>
        {% endif %}

        <hr>
        <h2>Remove password</h2>
        <form id="frmPass" method="POST", action="/remove_password">
    
            <label for="siteNameRem">Site Name:</label>
            <input type="text" id="siteNameRem" name="siteNameRem" required><br>
    
            <input type="submit" value="Submit">
        </form>
      
    
      <br>
      <hr>
      <br>
    

</body>

</html>